<div class="page-header pt-3">
    <h3><i class="fa-solid fa-list fa-fw"></i> Administrar proveedor</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <a href="#supadd" style="text-decoration: none;">
                <li class="list-group-item"><i class="fas fa-plus fa-fw"></i> Agregar</li>
            </a>
            <a href="#suplist" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-list fa-fw"></i> Lista</li>
            </a>
            <li class="list-group-item active"><i class="fa-solid fa-unlock-keyhole fa-fw"></i> Administrar</li>

        </ul>
    </div>

    <div class="mt-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="col-md-6 p-5 mt-5 rounded-3" style="background-color: #3fbbc0";">
                        <div class="alert" id="alertProveedorEliminar">
                            <span id="msgProveedorEliminar"></span>.
                            <a href="#supadmin" class="alert-link">Clic aquí para verificar</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>