<div class="page-header pt-3">
    <h3><i class="fa-solid fa-circle-plus"></i> Agregar linea</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item active"><i class="fa-solid fa-circle-plus"></i> Agregar</li>
            <a href="#linelist" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-rectangle-list"></i> Lista</li>
            </a>
            <a href="#lineadmin" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-gear"></i></i> Administrar</li>
            </a>
        </ul>
    </div>

    <div class="mt-4">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos requeridos</h5>
                <div class="d-flex justify-content-center">
                    <div class="col-md-5">
                        <div class="mt-4">
                            <form action="javascript:crearLinea();" id="formaLineCrear" class="validarFormulario"
                                novalidate>
                                <div>

                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <input type="text" class="form-control" id="nom" required
                                                placeholder="place" style="background-image: none;" />
                                            <label for="usu" style="color: #0a0a15; padding: 0.6rem;">Nombre de la
                                                linea *</label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Crear linea</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-center">

        <div class="col-md-6 mt-4">
            <div class="alert alert-primary alert-dismissible fade show" role="alert" id="lineMsgOk"
                style="display: none;">
                La linea <strong>fue creada</strong> correctamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="lineMsgError"
                style="display: none;">
                La linea <strong>NO fue creada</strong> en la base de datos
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        </div>

    </div>
</div>

<a href="#home" class="btn-flotante"><i class="fa-solid fa-house fa-2xl"></i></a>