<div class="page-header pt-3">
    <h3><i class="fa-solid fa-circle-plus"></i> Agregar productos</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item active"><i class="fa-solid fa-circle-plus"></i> Agregar</li>
            <a href="#prolist" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-rectangle-list"></i> Lista</li>
            </a>
            <a href="#proadmin" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-gear"></i></i> Administrar</li>
            </a>
        </ul>
    </div>

    <div class="mt-4 scroll">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos requeridos</h5>
                <div class="d-flex justify-content-center">
                    <div class="col-md-5 overflow-auto">
                        <div class="mt-4">
                            <form action="javascript:crearProductos();" id="formaProductoCrear"
                                class="validarFormulario" novalidate>
                                <div>
                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <input type="text" class="form-control" id="nom" required
                                                placeholder="place" style="background-image: none;" />
                                            <label for="usu" style="color: #0a0a15; padding: 0.6rem;">Nombre del
                                                producto *</label>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <select class="form-select" id="cat">
                                                <option value="1">Activa</option>
                                                <option value="2">Inactiva</option>
                                            </select>
                                            <label for="usu" style="color: #00000042; padding: 0.6rem">
                                                Categoría *</label>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <select class="form-select" id="lin">
                                                <option value="1">Activa</option>
                                                <option value="2">Inactiva</option>
                                            </select>
                                            <label for="usu" style="color: #00000042; padding: 0.6rem">
                                                Linea *</label>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <select class="form-select" id="pro">
                                                <option value="1">Activa</option>
                                                <option value="2">Inactiva</option>
                                            </select>
                                            <label for="usu" style="color: #00000042; padding: 0.6rem">
                                                Proveedor *</label>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="col form-floating">
                                            <input type="number" class="form-control" id="can" required
                                                placeholder="place" style="background-image: none;" />
                                            <label for="usu" style="color: #0a0a15; padding: 0.6rem;">Cantidad *</label>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="col form-floating">
                                            <input type="number" class="form-control" id="pre" required
                                                placeholder="place" style="background-image: none;" />
                                            <label for="usu" style="color: #0a0a15; padding: 0.6rem;">Precio *</label>
                                        </div>
                                    </div>

                                    <div>
                                        <label for="usu" style="color: #00000042; padding: 0.6rem">Imagen</label>
                                        <div class="input-group mb-3">
                                            <input type="file" class="form-control" id="inputGroupFile02">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Añadir producto</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-center">

        <div class="col-md-6 mt-4">
            <div class="alert alert-primary alert-dismissible fade show" role="alert" id="proMsgOk"
                style="display: none;">
                El producto <strong>fue creado</strong> correctamente
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="proMsgError"
                style="display: none;">
                El producto <strong>NO fue creado</strong> en la base de datos
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        </div>

    </div>
</div>

<a href="#home" class="btn-flotante"><i class="fa-solid fa-house fa-2xl"></i></a>