<div class="page-header pt-3">
    <h3><i class="fa-solid fa-rectangle-list"></i> Lista de productos</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <a href="#proadd" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-circle-plus"></i> Agregar</li>
            </a>
            <li class="list-group-item active"><i class="fa-solid fa-rectangle-list"></i> Lista</li>
            <a href="#proadmin" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-gear"></i> Administrar</li>
            </a>
        </ul>
    </div>

    <div class="mt-4 scroll">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered" id="tablaProductoListar">
                    <thead>
                        <tr class="table-primary">
                            <th class="text-center" style="width: 5%;">Cód.</th>
                            <th class="text-center" style="width: 25%;">Nombre producto</th>
                            <th class="text-center" style="width: 12%;">Categoria</th>
                            <th class="text-center" style="width: 20%;">Linea</th>
                            <th class="text-center" style="width: 12%;">Proveedor</th>
                            <th class="text-center" style="width: 5%;">Cant</th>
                            <th class="text-center" style="width: 8%;">Precio</th>
                            <th class="text-center" style="width: 5%;">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a href="#home" class="btn-flotante"><i class="fa-solid fa-house fa-2xl"></i></a>