<div class="page-header pt-3">
    <h3><i class="fa-solid fa-rectangle-list"></i> Lista de categorías</h3>
</div>

<div class="row col-md-12 mt-4">
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-sm">
            <a href="#cateadd" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-circle-plus"></i> Agregar</li>
            </a>
            <li class="list-group-item active"><i class="fa-solid fa-rectangle-list"></i> Lista</li>
            <a href="#cateadmin" style="text-decoration: none;">
                <li class="list-group-item"><i class="fa-solid fa-gear"></i> Administrar</li>
            </a>
        </ul>
    </div>

    <div class="mt-4 scroll">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered" id="tablaCateListar">
                    <thead>
                        <tr class="table-primary">
                            <th class="text-center" style="width: 20%;">Código</th>
                            <th class="text-center" style="width: 80%;">Nombre categoría</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<a href="#home" class="btn-flotante"><i class="fa-solid fa-house fa-2xl"></i></a>