<div class="page-header pt-4 text-center">
    <h2>Bienvenido</h2>
</div>

<div class="col-md-20 pt-4">
    <div class="d-flex justify-content-center gap-3">
        <div class="col-sm-2">
            <a href="#cateadd" />
            <div class="card text-center resaltar">
                <div class="card-header">
                    <h4>Categorías</h4>
                </div>
                <div id="categorias" class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <a href="#lineadd" />
                <div class="card-header">
                    <h4>Lineas</h4>
                </div>
                <div id="lineas" class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <a href="#supadd" />
                <div class="card-header">
                    <h4>Proveedores</h4>
                </div>
                <div id="proveedor" class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <a href="#proadd" />
                <div class="card-header">
                    <h4>Productos</h4>
                </div>
                <div id="productos" class="card-body">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center resaltar">
                <a href="products.html" target="_blank" />
                <div class="card-header">
                    <h4>Catálogo</h4>
                </div>
                <div id="nuevosproductos" class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>