<div class="col-auto px-0">
    <div id="sidebar" class="collapse collapse-horizontal show border-end" style="
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('src/assets/images/nav-image.jpg');
    background-size:cover;
    z-index: 1;
    transition: all .2s ease-in-out;
    background-position: center center;">
        <div class="d-flex justify-content-center">
            <figure class="full-box nav-lateral-avatar mt-4">
                <img src="src/assets/avatar/logo.png" alt="Logo" height="90px">
            </figure>
        </div>

        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <div class="flex-shrink-0 p-3" style="width: 280px;">
                <ul class="list-unstyled ps-0">
                    <li>
                        <a href="#home" class="nav-link link-light">
                            <i class="fa-solid fa-house fa-fw"></i><span>&nbsp; Inicio</span>
                        </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white"
                            data-bs-toggle="collapse" data-bs-target="#cate-collapse" aria-expanded="true">
                            Categorias
                        </button>
                        <div class="collapse" id="cate-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#cateadd"
                                        class="link-light d-inline-flex text-decoration-none rounded">Agregar</a></li>
                                <li><a href="#catelist"
                                        class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                <li><a href="#cateadmin"
                                        class="link-light d-inline-flex text-decoration-none rounded">Administrar</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button
                            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                            data-bs-toggle="collapse" data-bs-target="#clien-collapse" aria-expanded="false">
                            Lineas
                        </button>
                        <div class="collapse" id="clien-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/#lineadd"
                                        class="link-light d-inline-flex text-decoration-none rounded">Agregar</a></li>
                                <li><a href="/#linelist"
                                        class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                <li><a href="/#lineadmin"
                                        class="link-light d-inline-flex text-decoration-none rounded">Administrar</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 text-white"
                            data-bs-toggle="collapse" data-bs-target="#prove-collapse" aria-expanded="true">
                            Proveedores
                        </button>
                        <div class="collapse" id="prove-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#supadd"
                                        class="link-light d-inline-flex text-decoration-none rounded">Agregar</a></li>
                                <li><a href="#suplist"
                                        class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                <li><a href="#supadmin"
                                        class="link-light d-inline-flex text-decoration-none rounded">Administrar</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button
                            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                            data-bs-toggle="collapse" data-bs-target="#produ-collapse" aria-expanded="false">
                            Productos
                        </button>
                        <div class="collapse" id="produ-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="/#proadd"
                                        class="link-light d-inline-flex text-decoration-none rounded">Nuevo</a>
                                </li>
                                <li><a href="/#prolist"
                                        class="link-light d-inline-flex text-decoration-none rounded">Listar</a></li>
                                <li><a href="/#proadmin"
                                        class="link-light d-inline-flex text-decoration-none rounded">Administrar</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="border-top my-3"></li>
                    <li>
                        <a href="products.html" target="_blank" class="nav-link link-light">
                            <i class="fa-solid fa-boxes-stacked fa-fw"></i><span>&nbsp; Catálogo</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>