@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap');

a {
  text-decoration: none;
  color: #212529;
}

body {
  font-family: 'Urbanist', sans-serif;
}

h2,
h4 {
  font-weight: 600;
}

.miniaturaImagen {
  max-width: 70px;
  height: auto;
}

.resaltar:hover {
  color: #0d6efd;
  border: 2px solid #0d6efd;
}

.check-amarillo {
  color: #fed93e;
}

.check-rojo {
  color: #82140e;
}

.check-verde {
  color: #1d7612;
}

.form-acceso input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-acceso input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, #f0bdc1 2px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.scroll {
  max-height: 450px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.btn-flotante {
	color: #ffffff; /* Color del texto */
	border-radius: 100%; /* Borde del boton */
	background-color: #3f474f; /* Color de fondo */
	padding: 24px 20px; /* Relleno del boton */
	position: fixed;
	bottom: 20px;
	right: 20px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #0d6efd; /* Color de fondo al pasar el cursor */
  color: #ffffff;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }